<h3>Precio de Ferrocarril</h3>
<form class="" action="../controllers/railwayController.php" method="post">
  <label for="">Precio Vagon (Ferrocarril)</label>
  <input type="text" name="price_railway">
  <input type="hidden" name="register">
  <button type="submit" name="save">Registrar</button>
</form>

<h3>Precio de Barco</h3>
<form class="" action="../controllers/shipController.php" method="post">
  <label for="">Precio Contenedor (Barco)</label>
  <input type="text" name="price_ship">
  <input type="hidden" name="register">
  <button type="submit" name="save">Registrar</button>
</form>
