<?php require 'controllers/transportController.php'; ?>

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Metodos de Transporte</title>
  </head>
  <body>
    <h3>Metodos de Transporte</h3>

    <form class="" action="../controllers/transportController.php" method="post">
      <label for="">Nombre del metodo de transporte</label>
      <input type="text" name="name">
      <label for="">Nombre del unidad de medida</label>
      <input type="text" name="name_unity">
      <input type="hidden" name="register">
      <button type="submit" name="save">Guardar</button>
    </form>
  </body>
</html>
